.textAreaForm {
  &Input {
    width: 100%;
  }

  &Label {
    font-size: 14px;
    font-weight: bold;
    color: #139359;
    margin-bottom: 10px;
  }

  &Container {
    width: 90%;
    margin: 20px auto;
  }

  &Error {
    color: red;
    font-size: 14px;
  }

  &Area {
    width: 100%;
    min-height: 100px;
  }
}
